@import "reset.css";
html, body{
  width: 100%;
  height:100%;
}
body{
  width:100%;
  height:100%;
  position: relative;

}
iframe {
  left: 50px;
  top: 50px;
}
.sc{
  width:100%;
  height:970px;
  position: absolute;
  display: none;
}
.sc.selected{
  display: block;
}
.title{
  height: 40px;
  width: 353px;
  background: #F5F5F5;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding-left: 22px;
}
#title{
  font-family: Roboto;
  font-weight: light;
  font-size: 30px;
  color: #545454;
  line-height: 40px;
}
#home ul{
  width: 100%;
  height: 100%;
  margin: 0 0 100px 0;
}
img {
  max-width: 100%;
  height: auto;
  width: auto;
}
.album-artwork{
  width: 166px;
  height: 166px;
  display: inline-block;
  margin: 13px 0 0 12px;
  border-radius: 2px;;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.album-artwork:active{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.album1{
  background-image: url(../images/jamiexx-incolour-thumb.png);;
}
.album2{
  background-image: url(../images/skepta-konnichiwa-thumb.jpg);;
}
.album3{
  background-image: url(../images/thexx-iseeyou-thumb.jpg);;
}
.album4{
  background-image: url(../images/justice-woman-thumb.jpg);;
}
.album5{
  background-image: url(../images/kaytranada-99.9-thumb.jpg);;
}
.album6{
  background-image: url(../images/childishgambino-awakenmylove-thumb.jpg);;
}
.now-playing-bar{
  height: 60px;
  width: 100%;
  position: fixed;;
  left: 0px;
  bottom: 0px;
  background: #F5F5F5;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.now-playing-bar-arrow{
  height: 48px;
  width: 48px;
  position: fixed;
  left: 5px;
  bottom: 5px;
  background-image: url(../images/UI/up-arrow.png);
}
.now-playing-bar header{
  font-family: Roboto;
  font-weight: medium;
  font-size: 17px;
  text-align: center;
  line-height: 60px;
  color: #545454;
}
.now-playing-artwork{
  height: 60px;
  width: 60px;
  position: fixed;
  right: 0px;
  bottom: 0px;
  background-image: url(../images/nowplaying-jamiexx-incolour.png);
}
#home{
  background: #FAFAFA;
}
#album-page{
  background: #F5F5F5;
}
#album-page2{
  background: #F5F5F5;
}
#now-playing-page{
  background: #FAFAFA;
}
#now-playing-page h1{
  text-align: center;
  line-height: 60px;
  color: RGBA(0,0,0,.87);
  font-family: Roboto;
  font-weight: medium;
  font-size: 17px;
}
.now-playing-header{
  height: 60px;
  background: #F5F5F5;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.now-playing-header-arrow{
  height: 48px;
  width: 48px;
  position: fixed;
  left: 5px;
  top: 5px;
}
.album-page-artwork{
  height: 375px;
  width: 375px;
  position:absolute;
  top: 0px;
  background-image: url(../images/jamiexx-incolour.jpg);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.album-page2-artwork{
  height: 375px;
  width: 375px;
  position: absolute;
  top: 0px;
  background-image: url(../images/skepta-konnichiwa.jpg);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.album-page3-artwork{
  height: 375px;
  width: 375px;
  position: absolute;
  top: 0px;
  background-image: url(../images/thexx-iseeyou.jpg);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.album-page4-artwork{
  height: 375px;
  width: 375px;
  position: absolute;
  top: 0px;
  background-image: url(../images/justice-woman.jpg);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.album-page5-artwork{
  height: 375px;
  width: 375px;
  position: absolute;
  top: 0px;
  background-image: url(../images/kaytranada-99.9.jpg);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.album-page6-artwork{
  height: 375px;
  width: 375px;
  position: absolute;
  top: 0px;
  background-image: url(../images/childishgambino-awakenmylove.jpg);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.album-name{
  width: 375px;
  height: 100px;
  background: rgba(33, 33, 33, 0.5);
  position: absolute;
  bottom: 0px;
}
#album-name{
  font-family: Roboto;
  font-weight: light;
  font-size: 40px;
  text-align: left;
  color: #F5F5F5;
  position: absolute;
  bottom: 33px;
  left: 5px;
}
#artist-name{
  font-family: Roboto;
  font-weight: lighter;
  font-size: 30px;
  text-align: left;
  color: #F5F5F5;
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.back-button-black{
  background-image: url(../images/UI/back-black.png);
  opacity: 0.5;
  height: 48px;
  width: 48px;
  position:absolute;
  left: 5px;
  top: 5px;
}
.back-button-white{
  background-image: url(../images/UI/back-white.png);
  opacity: 0.5;
  height: 48px;
  width: 48px;
  position: fixed;
  left: 5px;
  top: 5px;
}
#tracklist{
  padding-top: 375px;
}
#tracklist li{
  width: 369px;
  height: 40px;
  background-color: #F5F5F5;
  margin: 0 3px 1px 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#tracklist li:active{
  background-color: #ECEFF1;
}
#tracklist p{
  font-family: Roboto;
  font-weight: light;
  font-size: 20px;
  color: #616161;
  line-height: 50px;
  text-indent: 5px;
}
