@import "reset.css";
html, body{
  width: 100%;
  height:100%;
}
body{
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  position: relative;
}
iframe {
  left: 50px;
  top: 50px;

}
.sc{
  width:100%;
  height:100%;
  position: absolute;
  display: none;
  z-index: 10;
}
.sc.selected{
  display: block;
  z-index: 11;
}
#home ul{
  width: 100%;
  height: 100%;
  text-align: left;
}
img {
  max-width: 100%;
  height: auto;
  width: auto;
}
.album-artwork{
  width: 152px;
  padding-top: 152px;
  background-image: url(../images/jamiexx-incolour.png);;
  display: inline-block;
  margin: 22px 0 0 22px;
  border-radius: 6px;;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.album-artwork:active{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.now-playing-bar{
  height: 60px;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background: #F5F5F5;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.now-playing-bar-arrow{
  height: 48px;
  width: 48px;
  position: fixed;
  left: 5px;
  bottom: 5px;
  background-image: url(../images/UI/up-arrow.png);
}
.now-playing-bar header{
  font-family: Roboto;
  font-weight: medium;
  font-size: 15sp;
  text-align: center;
  line-height: 60px;
  color: #545454;
}
.now-playing-artwork{
  height: 60px;
  width: 60px;
  position: fixed;
  right: 0px;
  bottom: 0px;
  background-image: url(../images/nowplaying-jamiexx-incolour.png);
}
#home{
  background: #FAFAFA;
}
#album-page{
  background: #F5F5F5;
}
#now-playing-page{
  background: #FAFAFA;
}
#now-playing-page h1{
  text-align: center;
  line-height: 60px;
  color: RGBA(0,0,0,.87);
  font-family: Roboto;
  font-weight: medium;
  font-size: 15px;
}
.now-playing-header{
  height: 60px;
  background: #F5F5F5;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.now-playing-header-arrow{
  height: 48px;
  width: 48px;
  position: fixed;
  left: 5px;
  top: 5px;
  background-image: url(../images/UI/down-arrow.png);
}
